.quiz {
    background-image: var(--blue-background1);
    height: 100vh;
}

.quizTitle {
    color: #e6e1e133;
}

.question {
    color: var(--color-dull-white);
    font-size: 2.2rem;
}

.questionNo {
    color: var(--color-white);
    /* opacity: 0.9; */
    font-size: 2.6rem;
}

.totalQuestions {
    color: grey;
    font-weight: 600;
}

.quitBtn {
    text-align: center;
    font-size: 1.2rem;
    background: inherit;
    border: none;
}

.nextBtn {
    background: var(--color-app-blue);
    color: white;
    font-size: 1.2rem;
}