
.progressBar {
    width: 100%;
    max-width: 500px;
    /* background-color: transparent; */
    border: 3px solid lightGrey;
    height: 2em;
    border-radius: 1.2em;
    position: relative;
}

.progressBar::before {
    content: ' ';
    position: absolute;
    height: 100%;
    background: var(--color-app-blue);
    border-radius: 1.2em;
    max-width: calc(500px - 2em);
    width: var(--timer);
}

.progressBar::after {
    content: attr(data-label);
    display: flex;
    position: absolute;
    color: white;
    font-weight: 700;
    margin-left: auto;
    left: 50%;
    top: 0.3em;
}