.newForm {
    background: var(--color-app-blue);
    height: 100%;
}

.body {
    display: flex;
    height: calc(100vh - 70px);
    align-items: center;
}

.form {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 2em;
}

.input {
    background: inherit;
    color: white;
    border: none;
    border-bottom: 2px solid white;
    font-weight: 600;
    font-size: 1rem;
}

::placeholder {
    color: rgba(250, 250, 220, 0.8);
    font-weight: 500;
}

h2 {
    color: rgba(250, 250, 220, 0.8);
}

.textarea {
    background: inherit;
    border: 2px solid white;
    margin: 2em 0.5em 1em 0.5em;
}

.categoriesMenu {
    /* width: 100%; */
    margin-top: 0.5em;
}

.categoriesMenu > select {
    width: 100%;
    background: inherit;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    font-weight: 600;
    font-size: 1rem;
}