.home {
    /* background: #e0acbb1a; */
    background: var(--blue-background1);
    padding: 1em;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    color: white;
    font-size: 1.2rem;
    padding: 0.5em;
    margin: 0 0.5em;
}

.link:hover {
    background-color: rgba(250, 250, 250, 0.2);
}

.logout {
    font-size: 1rem;
    margin: 0 0.5em;
    color: white;
}

.logout:hover {
    background-color: var(--color-black);
}

.title {
    color: var(--color-white);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 800;
}

.newQuizBtn {
    background-color: var(--color-app-green);
    text-decoration: none;
}


.categoriesList {
    margin: 2em 0.5em;    
    list-style: none;
}

.categoriesList h3 {
    color: #6B7280;
}