.home {
    background: #F5F3FF;
    /* opacity: 0.8; */
    padding: 1em;
    /* height: 100vh; */
    /* width: 100%; */
}

.newQuizBtn {
    background-color: var(--color-app-green);
}

ul {
    list-style: none;
}

.categoriesList h3 {
    color: #6B7280;
}