.home {
    background: #e0acbb1a;
    background-image: var(--blue-background1);
    /* opacity: 0.8; */
    padding: 1em;
    /* height: 100vh; */
    /* width: 100%; */
}

.topBar {
    display: flex;
    justify-content: space-between;
}

.topBar > div {
    flex: 1;
    margin-right: 1em;
    max-width: 600px;
}

.newQuizBtn {
    background-color: var(--color-app-green);
}

ul {
    list-style: none;
}

.categoriesList h3 {
    color: #6B7280;
}