.quiz {
    border: none;
    border-radius: 10px;
    /* padding-top: 0.5em; */
    margin-top: 1.2em;
    background: rgba(250, 250, 250, 0.2);
    /* border: 1px solid white; */
    box-shadow: none;
    padding: 0.5em;
}

.quiz * {
    color: white;
}

.quiz ul {
    margin: 1em 0;
}

.takeQuiz {
    background-color: var(--color-app-blue);
}

.questions {
    color: var(--color-app-green);
    font-size: 0.8rem;
}