.quiz {
    border: none;
    border-radius: 10px;
    /* padding-top: 0.5em; */
    margin-top: 1.2em;
    background: white;
    box-shadow: none;
}

.quiz:hover {
    box-shadow: 0 5px 5px lightpink;
}

.quiz ul {
    margin: 1em 0;
}

.takeQuiz {
    background-color: var(--color-violet);
}

.questions {
    color: var(--color-app-green);
    font-size: 0.8rem;
}